:root {
  --dark: black;
  --light: white;
  --darkblue: #132f4a;
  --blue: rgb(34, 100, 215);
}

body {
  font-family: "Mako", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  justify-content: center;
}

.header {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 20px;
}

.custom-jumbotron {
  background-color: var(--dark);
  color: var(--light);
  background-image: url("https://33.media.tumblr.com/ba63ac0eb2349fb7d0af399789498b09/tumblr_mxlwabz0pU1rgpyeqo1_400.gif");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.custom-navbar {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
}

.custom-nav {
  color: var(--blue);
  background-color: var(--darkblue);
}

.custom-btn {
  background-color: var(--darkblue);
  color: var(--light);
  border-color: var(--blue);
}

.custom-btn:hover {
  background-color: var(--blue);
  color: var(--light);
  border-color: var(--blue);
}

.custom-card {
  background-color: var(--darkblue);
  color: var(--light);
}

.card-header-tabs {
  background-color: var(--blue);
}

.nav-link:hover {
  background-color: var(--darkblue);
  border-radius: 5px;
  border-color: var(--darkblue);
}

.custom-link:hover {
  background-color: var(--blue);
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#button {
  cursor: pointer;
}
